.header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    .header-content{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .logo{
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .dashboard-title{
        font-weight: 600;
        margin: 0;
    }
}