.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2rem;

    .input-search-filter{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 1.5rem;

        .mantine-TextInput-input:focus,
        .mantine-Select-input:focus {
            border-color: #ffcb05;
            box-shadow: 0 0 0 1px rgba(255, 203, 5, 0.4);
            outline: none;
        }
    }

}