.table{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 0.3rem;
    background-color: #fff;
    border: 0.5px solid #e0e0e0;
    border-radius: 12px;

    :global(.mantine-Table-table){
        border-radius: 12px;
    }
    
    Thead Tr:first-child{
        Th:first-child{
            border-top-left-radius: 10px;
        }
        Th:last-child{
            border-top-right-radius: 10px;
        }
    }

    Thead{
        background-color: rgba(255, 203, 5, 0.4);
    }

    Th, Td {
        padding-left: 2rem;
        padding-top: 0.8rem;
        text-align: left;
        border-bottom: 0.25px solid #b9b9b9;
    }
    
    .pagination{
        display: flex;
        justify-content: center;
    }
}