.table{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 0.3rem;
    background-color: #fff;
    border: 0.5px solid #e0e0e0;
    border-radius: 12px;
    
    Thead Tr:first-child{
        Th:first-child{
            border-top-left-radius: 10px;
        }
        Th:last-child{
            border-top-right-radius: 10px;
        }
    }

    Thead{
        background-color: rgba(255, 203, 5, 0.4);

        Th {
            padding: 1rem 2rem;
            border-bottom: 1px solid #e0e0e0;
            font-weight: 600;
        }
    }

    Tbody {
        Tr{
            transition: background-color 0.2s;
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }

            Td {
                padding: 1rem 2rem;
                border-bottom: 1px solid #e0e0e0;
            }
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;

        .mantine-Pagination-control {
            color: black;
            border-color: #ffcb05;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgba(255, 203, 5, 0.2);
                border-color: #ffcb05;
            }
        }

        .mantine-Pagination-control[data-active] {
            background-color: black;
            color: #ffcb05;
            border-color: black;
            font-weight: bold;
        }
    }
}